@charset "utf-8";

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

body{
  line-height: 3rem;
  font-weight: 500;
  font-size: 1.4rem;
  margin: 0%;
}

header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgb(228, 0, 17);
  z-index: 999;
}

main{
  width: 100%;
  margin: 0 auto;
}

footer{
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgb(228, 0, 17);
}
.headerLogo_box{
  height: 80px;
}

.headerLogo{
  width: 55%;
  height: 80px;
}

.headerIphone{
  float: right;
  width: 30%;
  height: 80px;
  margin-right: 20px;
}

.footerLogo_box{
  height: 80px;
}

.footerLogo{
  width: 60%;
  height: 80px;
  display: block;
  margin: auto;
}

.copyright{
  text-align: center;
  color: #fff;
  font-size: 0.7rem;
}

.copyrightText{
  line-height: 20px;
}

.VRacademyLink_box{
  text-align: center;
}

.VRacademyLink{
  display: inline-block;
  line-height: 21px;
  height: 20px;
  font-size: .8rem;
  width: 40%;
  border: 1.5px solid #fff;
  border-radius: 1rem;
  text-align: center;
  color: #fff;
  margin: 15px auto;
}

.TopicsFont{
  font-size: 1.2rem;
  color: #ff0013;
  text-align: center;
}

.root-container{
  padding-top: 80px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.borderTopics{
  max-width: 500px;
  color: #000;
  letter-spacing: 0;
  text-align: center;
  margin: auto;
  z-index: 998;
}

.lines-on-sides{
  white-space: nowrap;
  margin: auto;
  width: 70%;
  margin-top: 1rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.lines-on-sides:before, .lines-on-sides:after {
	border-top: 1px solid #ff0013;
  content: "";
  flex-grow: 1;
}

.lines-on-sides:before {
	margin-right: .6em;
}

.lines-on-sides:after {
	margin-left: .6em;
}

.contents{
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
}

.roundFrame{
  display: inline-block;
  font-size: 1.4rem;
  padding: .1rem 2rem;
  margin: 0 auto ;
  margin-bottom: 30px;
  border: 1.5px solid #ff0013;
  border-radius: 1rem;
  text-align: center;
  background-color: #fff;
  color: #ff0013;
}

.contentsImg{
  width: 90%;
  height: 120px;
}

.centerImg {
  font-size:0;
  text-align:center;
  }

.centerImg > * {
  width:32%;
  margin-left:2%;
  display:inline-block;
}

.centerImg > *:nth-child(3n + 1) {
  margin-left:0;
}

.centerImg img {
  max-width:100%;
}

.contentsText{
  font-size: 1rem;
  width: 70%;
  min-height: 70px;
  padding: .1rem 0;
  margin: 0 auto  0;
  /* border: 1.5px solid ;
  border-radius: 1rem; */
  background-color: #fff;
  word-wrap:break-word;
  line-height: 1.3rem;
  text-align: left;
  padding: 5px 0px 5px 8px;
  overflow-y : visible;
}

.exhibitor_box{
  margin-top: 20px;
  margin-bottom: 30px;
  display: inline-block;
}

.exhibitorImg_box{
  float: left;
  width: 35%;
  height: 180px;
  margin-left: 10px;
}

.exhibitorImg{
  height: 100%;
  width: 100%;
}

.exhibitorStatus{
  margin-left: 10px;
  width: 55%;
  display: inline-block;
}

.exhibitorName{
  border-bottom: 1px solid red;
  color: #000;
  font-size: 1.4rem;
  text-align: center;
  line-height: 2.3rem;
}

.exhibitorText_box{
  text-align: center;
}

.exhibitorText{
  font-size: 1rem;
  padding: .1rem 0;
  margin: 30px auto  0;
  border: 1.5px solid #ff0013;
  background-color: #fff;
  width: 95%;
  min-height: 105px;
  word-wrap:break-word;
  line-height: 1.3rem;
  padding: 3px;
  overflow-y : visible;
}

.bottomBotann_box{
  text-align: center;
  margin-bottom: 30px;
}

.bottomBotann{
  display: inline-block;
  line-height: 30px;
  height: 30px;
  font-size: .8rem;
  width: 60%;
  border: 1.5px solid #ff0013;
  border-radius: 1rem;
  text-align: center;
  background-color: #fff;
  color: #ff0013;
}

.bottomBotann:active{
  background-color: #ff0013;
  color: #fff;
}

.VRacademyLink:active{
  background-color: #fff;
  color: #ff0013;
}

@media screen and (min-width: 767px) { /*ウィンドウ幅が767px以上の場合に適用*/
.pcWindow{
  margin: 0 auto;
  width: 450px;
}
header{
  position: static;
}
.root-container {
  padding-top: 0px;
}
.bottomBotann:hover{
  background-color: #ff0013;
  color: #fff;
}
}